<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Data Cleansing Tool</title>
</head>
<body class="data-cleaning-tool">
    <header>
        <div class="container">
            <h1>Welcome to My Website</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('tool') }}">Data Cleansing Tool</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-tool">
        <h1 class="main-title">Upload CSV File for Data Cleaning</h1>
        <form action="/tool" method="post" enctype="multipart/form-data">  <!-- ใช้ action="/tool" -->
            <input type="file" name="file" required>
            <h3>Choose Data Cleaning Method:</h3>
            <table class="tool-table">
            <tr>
                <td>Drop rows with NaN</td>
                <td><input type="radio" name="cleaning_method" value="1" required></td>
            </tr>
            <tr>
                <td>Fill NaN with Mean</td>
                <td><input type="radio" name="cleaning_method" value="2"> </td>
            </tr>
            <tr>
                <td>Fill NaN with Median</td>
                <td><input type="radio" name="cleaning_method" value="3"></td>
            </tr>
            </table>
            <button type="submit">Upload</button>
        </form>
    </main>
</body>
</html>
